/* DEFAULT STYLES */
img {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

html, body {
    height: 100%;
    margin: 0;
}

.flexbox {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.App {
    padding: 32px;
    background-size: cover;
    background-position: center;
    z-index: -99;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: background-image 1s ease-in-out;
}

.App.day {
    background-image: url('./images/background-day.png');
}

.App.night {
    background-image: url('./images/background-night.png');
}