/* CLOCK Styles */
.Clock {
    margin: 32px;
    width: 15vw;
    position: absolute;
    top: 0;
    right: 0;
}

.Clock p {
    width: 100%;
    position: absolute;
    transform-origin: 50% 50%;
}

.clock-hand {
    width: 1.3vw;
    position: absolute;
    transform-origin: 50% 100%;
    top: 5%;
    left: 26.5%;
    z-index: 2;
}

.date, .time {
    font-family: SVThin;
    font-size: 2vw;
    text-align: center;
    left: 16%;
}

.date {
    top: 9.5%;
}

.time {
    top: 46.5%;
}

/* SHAKE ANIMATION for TIME */
@keyframes shake {
    0%, 100% { transform: translate(0, 0) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
}

.shake {
    animation: shake 0.5s infinite;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.streak {
    width: 100%;
    position: absolute;
    font-family: SVBold;
    font-size: 1.75vw;
    text-align: end;
    color: maroon;
    top: 78.5%;
    left: -10%;
    transform-origin: 100% 50%;
}

.streak > span {
    display: inline-block;
    width : 1.25vw;
    text-align: center;
}

.season, .weather {
    width: 2.6vw;
    position: absolute;
    top: 26.5%;
    transform-origin: 50% 50%;
    z-index: 0;
}

.weather {
    left: 40%;
}

.season {
  left: 73%;
}