@font-face {
  font-family: 'SVThin';
  src: url('./fonts/SVThin.ttf') format('truetype');
}

@font-face {
  font-family: 'SVBold';
  src: url('./fonts/SVBold.ttf') format('truetype');
}

@font-face {
  font-family: 'SVRegular';
  src: url('./fonts/SVRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'SVCaps';
  src: url('./fonts/SVCaps.ttf') format('truetype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 1vmin;
}

a {
  font-size: inherit;
}
